%p.tagline
  We are a graphic and web design practice. We like telling interesting stories and solving tricky problems.

%ul#projects
  - @projects.each do |project|
    %li
      = link_to project do
        %h2= project.title
        %p.description= project.description