.tagline {
  font-family: $serif;
  font-size: 70px;
  margin: 0;
  padding: 30px 0;
  line-height: 100%;
}

#projects {
  border-top: 2px solid;
  @include reset-list;

  li {
    border-bottom: 2px solid;
    display: table;

    a {
      display: table-row;
      padding: 20px 0;
    }

    .image {
      display: table-cell;
      vertical-align: middle;
      width: 290px;

      img {
        display: block;
      }
    }

    .info {
      display: table-cell;
      vertical-align: middle;
      padding: 20px 200px 20px 40px;
      position: relative;

      &:hover:after {
        display: block;
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -19px;
        background-image: image_url('arrow.png');
        height: 37px;
        width: 148px;
      }
    }

    h2 {
      font-family: $serif;
      font-size: 30px;
      font-weight: normal;
      color: $pink;
      margin: 0;
      margin-bottom: 20px;
    }

    .description {
      color: $body-color;
      margin: 0;
    }
  }
}