$info-width: 330px;

#project {
  position: relative;
  padding-bottom: 30px;

  .nav {
    border-bottom: 1px solid $grey-2;
    margin-bottom: 30px;
    padding: 20px 0;
    overflow: hidden;
    font-size: 14px;

    a {
      color: $body-color;
    }

    .title {
      font-weight: 600;
      display: block;
      margin-bottom: 5px;
    }

    .next, .previous {
      a {
        display: block;
      }
    }

    .next {
      float: right;
      text-align: right;
      position: relative;
      padding-right: 20px;

      a:after {
        position: absolute;
        content: '\e800';
        @include icon;
        top: 0;
        right: 0;
      }
    }

    .previous {
      float: left;
      position: relative;
      padding-left: 20px;

      a:before {
        position: absolute;
        content: '\e801';
        @include icon;
        top: 0;
        left: 0;
      }
    }
  }

  .info {
    position: absolute;
    left: 0;
    width: $info-width;

    h2 {
      font-family: $serif;
      font-weight: normal;
      font-size: 30px;
      color: $pink;
      margin: 0;
      margin-bottom: 20px;
    }

    .description {
      margin: 0;
      margin-bottom: 20px;
    }
  }

  .content {
    margin-left: $info-width + 20px;
  }
}