!!! 5
/[if lt IE 8] <html class="no-js ie8 lt-ie8">
/[if IE 8] <html class="no-js ie8">
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
%head
  %meta{ charset: 'utf-8' }
  %meta{ 'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge' }
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }

  %title InCahoots

  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags

  %body
    %header#header
      %h1 InCahoots

    #content
      = yield
